<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Great Number Game</title>
</head>
<body>
    
    <div class="mainContent">

        <div class="top">
            <h1>Welcome to the great number game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>Take a guess!</h3>
        </div>
        
        <div>
            <p>{{ alert }}</p>
        </div>

        <div class="bottom">
            <form action="/guess" method="post">
                {% csrf_token %}
                <input type="text" name="guess">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

</body>
</html>