<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="mainCOntent">

        <div class="top">
            <h1>Welcome to the great number game!</h1>
            <h5>I am thinking of a number between 1 and 100</h5>
            <h5>Take a guess!</h5>
        </div>
        
        <div>
            <p>{{ alert }}</p>
        </div>

        <div class="bottom">
            <form action="/guess" method="post">
                {% csrf_token %}
                <input type="text" name="guess">
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

</body>
</html>